{{> header }}



    {{!-- El signo > debe estar pegado a las llaves, si no esta pegado, no va a funcionar --}}
    {{> navbar }}

    <div class="row">
        <div class="col-lg-6">
            <h1> Texto nuevo </h1>
        </div>
        <div class="col-lg-6">
            <img src="assets/img/visual-reverse-image-search-v2_intro.jpg" class="img-thumbnail" alt="">
        </div>
    </div>

    {{> footer}}
